.banner {
  display: flex;
  justify-content: center;
  background-color: @button-color;
  background-image:
    url("../img/intro-triangle.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  background-size: auto, auto;
  min-height: 390px;
  min-width: 320px;
}

.banner__description-image {
  margin-top: 90px;
}

.banner--mini {
  min-height: 160px;
}

.banner__title {
  font-size: 0;
  background: url("../img/text-sedona.svg") no-repeat;
  background-size: 230px 40px;
  background-position: center 50px;
  width: 280px;
  min-height: 160px;
}
