.copyright {
  display: flex;
  align-items: center;
}

.copyright__link {
  .no-outline;
  margin-left: 12px;
  font-size: 0;
  line-height: 0;
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #81b3d2;
}

.copyright__link:active svg {
  fill: #b2b2b2;
}
