.introduce {
  /*position: relative;*/
  min-width: @block-min-width;
  padding: 30px 20px 20px 20px;
  text-align: center;
}

.introduce__title {
  font-size: 18px;
  line-height: 26px;
  max-width: 280px;
  padding: 0 10px;
}

.introduce__text {
  max-width: 280px;
  padding: 0 10px;
}

.introduce__btn {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}