.map {
  width: 100%;
  min-height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .map {
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat;
  }
}
