.structur-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: @block-min-width;
  /*width: 100%;*/
  text-align: center;
  /*outline: 1px dotted red;*/
}

.structur-block--blue {
  background-color: @button-color;
}

.structur-block--triangle {
  padding-top: 37px;
  background-image: url("../img/bg-triangle.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.structur-block--benefit {
  padding-top: 22px;
  padding-bottom: 22px;
}

.structur-block--grey {
  background-color: #eeeeee;
}

@media (min-width: @tablet-width) {
  .structur-block {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 255px;
    width: 100%;
    overflow: hidden;
  }

  .structur-block--triangle {
    padding-top: 0;
    background-image: none;
  }

  .structur-block--benefit {
    min-height: 332px;
  }
}
